@page
@{
    Layout = "_FullLayout";

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){};
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){};
    ViewBag.PageScripts = PageScripts;

    ViewBag.Title = "Error Page"; 
    ViewBag.Description = "Error Page";
}

@section LeftSide {
}
@section RightSide {
<div class="sw-lg-80 min-h-100 bg-foreground d-flex justify-content-center align-items-center shadow-deep py-5 full-page-content-right-border">
  <div class="sw-lg-60 px-5">
    <div class="sh-11">
      <a asp-page="/Index">
        <div class="logo-default"></div>
      </a>
    </div>
    <div class="mb-5">
      <h2 class="cta-1 mb-0 text-primary">Ooops, it looks like an error!</h2>
      <h2 class="display-2 text-primary">Error 404</h2>
    </div>
    <div class="mb-5">
      <p class="h6">It looks like the page you are looking for is not available.</p>
      <p class="h6">
        If you think that is a mistake, please
        <a asp-page="/Index">contact</a>
        us.
      </p>
    </div>
    <div>
      <a asp-page="/Index" class="btn btn-icon btn-icon-start btn-primary">
        <i data-acorn-icon="arrow-left"></i>
        <span>Back to Home</span>
      </a>
    </div>
  </div>
</div>
}