@page
@{
    Dictionary<string, string> HtmlTagData = new Dictionary<string, string>(){};
    ViewBag.HtmlTagData = HtmlTagData;

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){};
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){};
    ViewBag.PageScripts = PageScripts;

    Dictionary<string, string> Breadcrumbs = new Dictionary<string, string>(){
        {"/Index","Home"}
    };
    ViewBag.Breadcrumbs = Breadcrumbs; 

    ViewBag.Title = "Dashboards"; 
    ViewBag.Description = "Dashboard pages contains different layouts to provide stats, graphics, listings, categories, banners and so on. They have various implementations of plugins such as Datatables, Chart.js, Glide.js and Plyr.js with alternative extensions.";
}
<div class="container">
  <!-- Title and Top Buttons Start -->
  <div class="page-title-container">
    <div class="row">
      <!-- Title Start -->
      <div class="col-12 col-md-7">
        <h1 class="mb-0 pb-0 display-4" id="title">@ViewBag.Title</h1>
        <partial name="_Layout.Breadcrumb"/>
      </div>
      <!-- Title End -->
    </div>
  </div>
  <!-- Title and Top Buttons End -->

  <!-- Content Start -->
  <div class="card mb-2">
    <div class="card-body h-100">@ViewBag.Description</div>
  </div>
  <!-- Content End -->

  <!-- List Items Start -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-2">
    <div class="col">
      <div class="card h-100">
        <div class="card-body row gx-4">
          <div class="col-auto">
            <i data-acorn-icon="grid-5" class="text-primary"></i>
          </div>
          <div class="col">
            <a asp-page="/Dashboards/Default" class="heading stretched-link d-block">Default</a>
            <div class="text-muted">Home screen that contains stats, charts, call to action buttons and various listing elements.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body row gx-4">
          <div class="col-auto">
            <i data-acorn-icon="image" class="text-primary"></i>
          </div>
          <div class="col">
            <a asp-page="/Dashboards/Visual" class="heading stretched-link d-block">Visual</a>
            <div class="text-muted">A dashboard implementation that mainly has visual items such as banners, call to action buttons and stats.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body row gx-4">
          <div class="col-auto">
            <i data-acorn-icon="chart-4" class="text-primary"></i>
          </div>
          <div class="col">
            <a asp-page="/Dashboards/Analytic" class="heading stretched-link d-block">Analytic</a>
            <div class="text-muted">Another dashboard alternative that focused on data, listing and charts.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- List Items End -->
</div>