@page
@{
    Dictionary<string, string> HtmlTagData = new Dictionary<string, string>(){};
    ViewBag.HtmlTagData = HtmlTagData;

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){};
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){};
    ViewBag.PageScripts = PageScripts;

    Dictionary<string, string> Breadcrumbs = new Dictionary<string, string>(){
        {"/Index","Home"},
        {"/Pages/Index","Pages"},
    };
    ViewBag.Breadcrumbs = Breadcrumbs; 

    ViewBag.Title = "Portfolio"; 
    ViewBag.Description = "Collection of thumbnails and detail page to showcase work.";
}
<div class="container">
  <!-- Title and Top Buttons Start -->
  <div class="page-title-container">
    <div class="row">
      <!-- Title Start -->
      <div class="col-12 col-md-7">
        <h1 class="mb-0 pb-0 display-4" id="title">@ViewBag.Title</h1>
        <partial name="_Layout.Breadcrumb"/>
      </div>
      <!-- Title End -->
    </div>
  </div>
  <!-- Title and Top Buttons End -->

  <!-- Content Start -->
  <div class="card mb-2">
    <div class="card-body h-100">@ViewBag.Description</div>
  </div>
  <!-- Content End -->

  <!-- List Items Start -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-3 g-2">
    <div class="col">
      <div class="card h-100">
        <div class="card-body row gx-4">
          <div class="col-auto">
            <i data-acorn-icon="office" class="text-primary"></i>
          </div>
          <div class="col">
            <a asp-page="/Pages/Portfolio/Home" class="heading stretched-link d-block">Home</a>
            <div class="text-muted">A portfolio home page featuring user details, projects, friends and collections.</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body row gx-4">
          <div class="col-auto">
            <i data-acorn-icon="content" class="text-primary"></i>
          </div>
          <div class="col">
            <a asp-page="/Pages/Portfolio/Detail" class="heading stretched-link d-block">Detail</a>
            <div class="text-muted">Project detail page with a carousel, comments and sidebar section.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- List Items End -->
</div>