@page
@{
    string _overrideDataString = JsonSerializer.Serialize(new {attributes = new { placement = "horizontal" }});   
    Dictionary<string, string> HtmlTagData = new Dictionary<string, string>(){
      {"override",_overrideDataString}
    };
    ViewBag.HtmlTagData = HtmlTagData;

    List<string> PageStyles = new List<string>(){};
    ViewBag.PageStyles = PageStyles;

    List<string> VendorScripts = new List<string>(){};
    ViewBag.VendorScripts = VendorScripts;

    List<string> PageScripts = new List<string>(){};
    ViewBag.PageScripts = PageScripts;

    Dictionary<string, string> Breadcrumbs = new Dictionary<string, string>(){
        {"/Index","Home"},
        {"/Interface/Index","Interface"},
        {"/Interface/Content/Index","Content"},
        {"/Interface/Content/Menu/Index","Menu"}
    };
    ViewBag.Breadcrumbs = Breadcrumbs; 

    ViewBag.Title = "Sidebar Menu"; 
    ViewBag.Description = "A secondary in page menu that blends into the mobile menu for smaller screens. Can be used with both horizontal and vertical menu types.";
}
<div class="container">
    <div class="row">
        <!-- Menu Start -->
       <partial name="_Layout.NavSecondary"/>
        <!-- Menu End -->

        <!-- Page Content Start -->
        <div class="col">
            <!-- Title and Top Buttons Start -->
            <div class="page-title-container">
                <div class="row">
                    <!-- Title Start -->
                    <div class="col-12 col-md-7">
                        <h1 class="mb-0 pb-0 display-4" id="title">@ViewBag.Title</h1>
                        <partial name="_Layout.Breadcrumb"/>
                    </div>
                    <!-- Title End -->
                </div>
            </div>
            <!-- Title and Top Buttons End -->
            <div class="card mb-2">
                <div class="card-body h-100">@ViewBag.Description</div>
            </div>
        </div>
        <!-- Page Content End -->
    </div>
</div>